# P01 - Introduction to Python

### Syllabus
2.2.1	Understand the different data types: integer, real, char, string and Boolean; and initialise arrays (1-dimensional and 2-dimensional).

### Understanding Goals

In this chapter, we will explore and discuss:
- What is computing and computational thinking
- A set of general problem solving strategies

At the end of this chapter, you should be able to:
- Understand basic data types in python
- Understand basic python operators
- Understand basic rules and naming convention of variables

You should know how to:
- Include comments
- Use `print()` function to display values onto the screen
- Perform type conversion
- Declare and initiatlize variables

## Section 1 - Computing and Computational Thinking

### _1.1 What is Programming?_

Programming is the process of creating **a set of specific instructions** for the computer to follow so that it can help you **solve a specific problem**.

A programming language is a formal constructed language designed to **communicate instructions** to a machine, particularly a computer. Programming languages can be used to create programs that control the behavior of a machine and/or to express algorithms precisely.

### _1.2 What is Computational Thinking_

Computational thinking is the process of **formulating a problem** and **expressing its solution(s)** in such a way that a computer can effectively carry out.

The characteristics that define computational thinking are decomposition, pattern recognition/data representation, generalization/abstraction, algorithms, etc.  
Reference: [Wikipedia - Computational Thinking](https://en.wikipedia.org/wiki/Computational_thinking)

### _1.3 General Problem Solving Strategies_

Here is a list of problem solving strategies that we will be using regularly when solving computing problems.

- **Understanding the problem**
\- Identify the problem and understand the problem statement.
\- Identify the inputs and outputs of the problem.
\- Identify the constraints of the problem.

- **Identifying a subtask/Decomposition**  
\- Break a problem into smaller pieces whose outcomes lead to a combined solution.

- **Looking for a pattern/Pattern Recognition**  
\- Observe trends by organising data or creating representations.  
\- Pattern recognition is a fundamental concept that involves finding similarities or patterns among smaller, decomposed problems that help in the solving of complex problems more efficiently.

- **Predicting and Comparing**  
\- Make conjectures about the output of a program for a given input. Then they confirm whether their conjectures are correct based on the outputs of the actual program.

- **Code Tracing and Annotating**  
\- Step through pseudocode or program code to understand and explain what is happening in a particular step of the program.

- **Working Backward**  
\- Knowing the output for a certain input, work backward to locate the code which affected the output.

- **Error Analysis**  
\- Determine and detect errors in a program.

## Section 2 - Introduction to Python Programming

### _2.1 Python as Programming Language_

Python is a programming language that lets you work quickly and integrate systems more effectively. There are two major Python versions, Python 2 and Python 3. Python 2 and 3 are quite different. This tutorial uses Python 3, because it more semantically correct and supports newer features.

Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales.  
Reference: [Wikipedia - Python](https://en.wikipedia.org/wiki/Python_(programming_language))

Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text.

### _2.2 Print and Comment_

The `print()` function is able to print the content inside the parentheses to the screen or output device.

Comments in Python start with the hash character, `#`, and extend to the end of the physical line. A comment may appear at the start of a line or following whitespace or code, but not within a string literal.

#### ~ Example ~
Type the following code in the cell below and run it.

```python
print("Hello World!")
```

In [1]:
# type your code here
print("Hello World!")

Hello World!

In [ ]:
# Hashtag can be used to start a comment
print("Charaters in quotation marks will be treated as a string")  # We will learn about string later
print("# hashtag inside a string won't be treated as a comment")  # A comment can be placed after a code statement

## Section 3 - Data Type and Variable

### _3.1 Data Type_

In computer science and computer programming, a data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data.  
Reference: [Wikipedia - Data Type](https://en.wikipedia.org/wiki/Data_type)

**What is a primitive data type?**

A primitive data type is a basic data type provided by a programming language as a basic building block. Most programming languages also allow the programmer to create additional data types that are derived from the primitive data types.

**Difference between primitive data types and data structures:**

- Primitive data types are basic data types provided by a programming language as a basic building block, such as `int`, `float`, `str`, `boolean`, etc.
- Data structures are more complex data types that are derived from the primitive data types, such as `list`, `tuple`, `dict`, `set`, etc.

**Python has many built-in data types. In this chapter, we will introduce a few primitive data types.**

**`int` - Numeric Data Type**
This type stores integers (whole numbers), such as `1`, `5`, `-20`, `1000`, ...

**`float` - Numeric Data Type**
This data type stores floating point numbers (real numbers), such as `1.5`, `-3.3`, `5000.0`, ...

**`str` - Sequence Data Type**
This data type stores a sequence of characters, such as `"Hello World!"`, `'Good Morning'`, ...

**`boolean` - Boolean Data Type**
This special data type stores one of the two truth values of logic, it can either take the value of `True` or `False`.

### _3.2 Variable_

Variables are containers for storing data values. Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

Similar to Mathematics, `x = 1` declares a variable in python. Please take note that `=` does **NOT** implies "equals to", but we call it an **assignment** operator; which means to assign/store the value from the right hand side to the variable on the left hand side.

#### ~ Example ~

Take a look at the following sample code. Predict the outcome before executing it.

In [ ]:
teacher_name = "Mr Zhou"
student_name = "Xiao Ming"
age = 16
gpa = 4.0
in_school = True

print("Teacher Name:", teacher_name)
print("Student details:", student_name, age, gpa, in_school)
print() # this insert an empty line in the output display

# type() is a useful function to check the data type of a variable when unsure.
print("Type of teacher_name:", type(teacher_name))
print("Type of gpa:", type(gpa))
print("Type of in_school:", type(in_school))

#### - Exercise -

Declare a variable with variable name as `my_phone_model` and bind it with a `string` describing the model of your mobile phone.
Declare a variable with variable name as `my_age` and bind it with an `integer` using the value of your own age.

Print out your variable values using the print() function.

In [2]:
# your code for Exercise
my_phone_model = "iPhone 12"
my_age = 15

print(my_phone_model)
print(my_age)

iPhone 12
15

### _3.3 Typecasting_

Sometimes, it is necessary to convert from one data type to another, this process is called typecasting.

#### ~ Example ~

Refer to the sample code below to understand how to cast from one data type to another.

In [ ]:
a = 5
b = str(a) # "5"
c = float(b)

print (a, type(a))
print (b, type(b))
print (c, type(c))

#### - Exercise -

Try to cast the value of `my_age` to `str` type and `my_phone_model` to `int` type. Do you encounter any problem? Why?

In [3]:
# your code for Exercise
my_phone_model = "iPhone 12"
my_age = 15

print(str(my_age))
print(int(my_phone_model))  # uncomment to see the error message

# error occurs because string with alphabets cannot be converted to integer directly

15

ValueError: invalid literal for int() with base 10: 'iPhone 12'

## Section 4 - Operators

Reference: [w3schools - Python Operators](https://www.w3schools.com/python/python_operators.asp)

Operators are used to perform operations on variables and values. In this chapter, we will only explore some basic operators and their functions.
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators

### _4.1 Arithmetic Operators_

Arithmetic operators are used with numeric values to perform common mathematical operations.

<table class="table table-bordered">
    <!-- Header Row -->
    <tr>
        <th style="width:10%; text-align:left">Operator</th>
        <th style="width:10%; text-align:left">Operation</th>
        <th style="width:10%; text-align:left">Example</th>
        <th style="width:20%; text-align:left">Result</th>
        <th style="text-align:left">Description</th>
    </tr>
    <!-- + -->
    <tr>
        <td style="text-align:left">+</td>
        <td style="text-align:left">Addition</td>
        <td style="text-align:left">23 + 3</td>
        <td style="text-align:left">26</td>
        <td style="text-align:left">Adds values of the two operands.</td>
    </tr>
    <!-- - -->
    <tr>
        <td style="text-align:left">-</td>
        <td style="text-align:left">Subtraction</td>
        <td style="text-align:left">23 - 3</td>
        <td style="text-align:left">20</td>
        <td style="text-align:left">Subtract the value of the right operand from the value of the left operand.</td>
    </tr>
    <!-- * -->
    <tr>
        <td style="text-align:left">*</td>
        <td style="text-align:left">Multiplication</td>
        <td style="text-align:left">23 * 3</td>
        <td style="text-align:left">69</td>
        <td style="text-align:left">Multiply values of the two operands</td>
    </tr>
    <!-- / -->
    <tr>
        <td style="text-align:left">/</td>
        <td style="text-align:left">Division</td>
        <td style="text-align:left">23 / 3</td>
        <td style="text-align:left">7.666666666666667</td>
        <td style="text-align:left">Divide the value of the right operand from the value of the left operand.</td>
    </tr>
    <!-- // -->
    <tr>
        <td style="text-align:left">//</td>
        <td style="text-align:left">Floor Division</td>
        <td style="text-align:left">23 // 3</td>
        <td style="text-align:left">7</td>
        <td style="text-align:left">Divide the value of the right operand from the value of the left operand, return the quotient value as an integer.</td>
    </tr>
    <!-- % -->
    <tr>
        <td style="text-align:left">%</td>
        <td style="text-align:left">Modulus</td>
        <td style="text-align:left">23 % 3</td>
        <td style="text-align:left">2</td>
        <td style="text-align:left">Divide the value of the right operand from the value of the left operand, return the remainder value.</td>
    </tr>
    <!-- ** -->
    <tr>
        <td style="text-align:left">**</td>
        <td style="text-align:left">Exponentiation</td>
        <td style="text-align:left">23 ** 3</td>
        <td style="text-align:left">12167</td>
        <td style="text-align:left">Raise the value of the left operand to the power of the value of the right operand.</td>
    </tr>
</table>

#### ~ Example ~

Take a look at the following sample code. Predict the outcome before executing it.

In [ ]:
a = 23
b = 3
# b = 3.0  # uncomment to test out with a float value

print (a + b, type(a + b))
print (a - b, type(a - b))
print (a * b, type(a * b))
print (a / b, type(a / b))
print (a // b, type(a // b))
print (a % b, type(a % b))
print (a ** b, type(a ** b))

**Operator Precedence**

When more than one operator appears in an expression, the order of evaluation depends on the rules of precedence. Python follows the same precedence rules for its mathematical operators that mathematics does.

1. `+` and `-` has the lowest level of precedence.
2. `*`, `/`, `//`, `%` has a higher precedence than `+` and `-`.
3. `**` has an even higher precedence
4. Parentheses, `(` and `)` has the highest level of precedence.

#### - Exercise -

Take a look at the following sample code. Predict the outcome before executing it.

In [4]:
a = 23
b = 3

c = a + a // b ** (4 - b)
print(c, type(c))

30 <class 'int'>

It is important to note that when we mix `int` and `float` values in an arithmetic expression, the result will be a value of `float` data type.

#### - Exercise -

Take a look at the following sample code. Predict the outcome before executing it.

In [5]:
a = 23.0
b = 3

print(a + b, type(a + b))
print (a // b, type(a // b))
print (a % b, type(a % b))
print (a ** b, type(a ** b))

26.0 <class 'float'>
7.0 <class 'float'>
2.0 <class 'float'>
12167.0 <class 'float'>

#### - Exercise -

Find the remainder when:  
11 is divided by 3  
101 is divided by 3

Find the remainder when:  
2515 is divided by 5  
3600 is divided by 5

Find the quotient and remainder when:  
23 is divided by 10  
58 is divided by 10

In [6]:
# your code for Exercise
print(11 % 3)
print(101 % 3)

print(2515 % 5)
print(3600 % 5)

print(23 // 10, 23 % 10)
print(58 // 10, 58 % 10)

# what overservation can you draw from the following output?
print(23 // 10)
print(23 % 10)

2
2
0
0
2 3
5 8
2
3

### _4.2 Assignment Operators_

Assignment operators are used to assign values to variables. If arithmatic operator is present before the `=` operator, it means that the variable will perform the respective arithmatic operation to itself before reassigning the updated value to the variable.

For example, if we know that `x` has a value of `3`.  
`x += 5` is equivilant to `x = x + 5`.  
So after this operation, x will has an updated value of `8`.

<table class="table table-bordered">
    <!-- Header Row -->
    <tr>
        <th style="width:20%; text-align:left">Operator</th>
        <th style="width:20%; text-align:left">Example</th>
        <th style="text-align:left">Equivilant Expression</th>
    </tr>
    <!-- = -->
    <tr>
        <td style="width:20%; text-align:left">=</td>
        <td style="width:20%; text-align:left">x = 5</td>
        <td style="text-align:left">x = 5</td>
    </tr>
    <!-- += -->
    <tr>
        <td style="width:20%; text-align:left">+=</td>
        <td style="width:20%; text-align:left">x += 5</td>
        <td style="text-align:left">x = x + 5</td>
    </tr>
    <!-- -= -->
    <tr>
        <td style="width:20%; text-align:left">-=</td>
        <td style="width:20%; text-align:left">x -= 5</td>
        <td style="text-align:left">x = x - 5</td>
    </tr>
    <!-- *= -->
    <tr>
        <td style="width:20%; text-align:left">*=</td>
        <td style="width:20%; text-align:left">x *= 5</td>
        <td style="text-align:left">x = x * 5</td>
    </tr>
    <!-- /= -->
    <tr>
        <td style="width:20%; text-align:left">/=</td>
        <td style="width:20%; text-align:left">x /= 5</td>
        <td style="text-align:left">x = x / 5</td>
    </tr>
    <!-- //= -->
    <tr>
        <td style="width:20%; text-align:left">//=</td>
        <td style="width:20%; text-align:left">x //= 5</td>
        <td style="text-align:left">x = x // 5</td>
    </tr>
    <!-- %= -->
    <tr>
        <td style="width:20%; text-align:left">%=</td>
        <td style="width:20%; text-align:left">x %= 5</td>
        <td style="text-align:left">x = x % 5</td>
    </tr>
    <!-- **= -->
    <tr>
        <td style="width:20%; text-align:left">**=</td>
        <td style="width:20%; text-align:left">x **= 5</td>
        <td style="text-align:left">x = x ** 5</td>
    </tr>
</table>

#### ~ Example ~

Take a look at the following sample code. Predict the outcome before executing it.

In [ ]:
x = 3
x += 5
print(x, type(x))
x /= 5
print(x, type(x))
x *= 5
print(x, type(x))
x = x // 5
print(x, type(x))

We can concurrently assign multiple values separated by `,`.

#### ~ Example ~

In [ ]:
a = 3
b = 4
print("before swap:", a, b)

# for other languages
# swap values of a and b
temp = a
a = b
b = temp
print("after swap:", a, b)

In [ ]:
a, b = 3, 4
print("before swap:", a, b)

# swap values of a and b using concurrent assignment
a, b = b, a
print("after swap:", a, b)

### _4.3 Relational Operators_

Relational operators are used to compare two values. The result will be a `boolean` value, either `True` or `False`.

In the following examples, `x` takes value of `5`.

<table class="table table-bordered">
    <!-- Header Row -->
    <tr>
        <th style="width:20%; text-align:left">Operator</th>
        <th style="width:20%; text-align:left">Operation</th>
        <th style="width:20%; text-align:left">Example</th>
        <th style="text-align:left">Result</th>
    </tr>
    <!-- == -->
    <tr>
        <td style="width:20%; text-align:left">==</td>
        <td style="width:20%; text-align:left">Equal to</td>
        <td style="width:20%; text-align:left">x == 4</td>
        <td style="text-align:left">False</td>
    </tr>
    <!-- != -->
    <tr>
        <td style="width:20%; text-align:left">!=</td>
        <td style="width:20%; text-align:left">Not equal to</td>
        <td style="width:20%; text-align:left">x != 4</td>
        <td style="text-align:left">True</td>
    </tr>
    <!-- > -->
    <tr>
        <td style="width:20%; text-align:left">></td>
        <td style="width:20%; text-align:left">Greater than</td>
        <td style="width:20%; text-align:left">x > 4</td>
        <td style="text-align:left">True</td>
    </tr>
    <!-- < -->
    <tr>
        <td style="width:20%; text-align:left"><</td>
        <td style="width:20%; text-align:left">Less than</td>
        <td style="width:20%; text-align:left">x < 4</td>
        <td style="text-align:left">False</td>
    </tr>
    <!-- >= -->
    <tr>
        <td style="width:20%; text-align:left">>=</td>
        <td style="width:20%; text-align:left">	Greater than or equal to</td>
        <td style="width:20%; text-align:left">x >= 4</td>
        <td style="text-align:left">True</td>
    </tr>
    <!-- <= -->
    <tr>
        <td style="width:20%; text-align:left"><=</td>
        <td style="width:20%; text-align:left">Less than or equal to</td>
        <td style="width:20%; text-align:left">x <= 4</td>
        <td style="text-align:left">False</td>
    </tr>
</table>

### _4.4 Logical Operators_

Logical operators are used to combine conditional statements. We will explore and learn a bit more about truth table in a later chapter.

In the following examples, `x` takes value of `5`.

<table class="table table-bordered">
    <!-- Header Row -->
    <tr>
        <th style="width:20%; text-align:left">Operator</th>
        <th style="width:20%; text-align:left">Description</th>
        <th style="width:20%; text-align:left">Example</th>
        <th style="text-align:left">Result</th>
    </tr>
    <!-- and -->
    <tr>
        <td style="width:20%; text-align:left">and</td>
        <td style="width:20%; text-align:left">Returns True only if both statements are true.</td>
        <td style="width:20%; text-align:left">x > 3 and x % 3 == 2</td>
        <td style="text-align:left">True</td>
    </tr>
    <!-- or -->
    <tr>
        <td style="width:20%; text-align:left">or</td>
        <td style="width:20%; text-align:left">Returns True as long as either one of the states is true.</td>
        <td style="width:20%; text-align:left">x > 3 or x // 4 == 2</td>
        <td style="text-align:left">True</td>
    </tr>
    <!-- not -->
    <tr>
        <td style="width:20%; text-align:left">not</td>
        <td style="width:20%; text-align:left">Reverse the conditional value.</td>
        <td style="width:20%; text-align:left">not(x > 3)</td>
        <td style="text-align:left">False</td>
    </tr>
</table>

#### ~ Example ~

Take a look at the following sample code. Predict the outcome before executing it.

In [ ]:
x = 5
print(x > 3 and x % 3 == 2)
print(x > 3 or x // 4 == 2)
print(not(x > 3))

## Section 5 - Conclusion

In this chapter, we have learnt about data types, variables and operators in Python. It is important to understand the details of how these elements interact/work with each other, just like learning grammar of a new language. So please feel free to explore and test out for yourself any possible combinations, and ask questions when in doubt.

Happy Coding!

### 5.1 Questions for self-exploration:

1. What is the advantage of allowing both single and double quotation marks to represent `str` data type?

In [ ]:
# type your answer as comments below
# you can write strings with quotes inside like "She said, 'Hello!'" or 'She said, "Hello!"'

2. How to print a string containing both `"` and `'` as part of the content?

In [10]:
# your code for Exercise
print(""""'""")
print("\"'")

"'
"'

3. In Jupyter notebook, what's the difference between the following 2 cells? How about running the same code in IDLE editor?

In [8]:
# Compare the result of these two cells.
x = 5
x

5

In [9]:
# Compare the result of these two cells.
x = 5
print(x)

5

In [ ]:
# jupyter just returns the value of the last line of code in a cell, this wont work in idle

### 5.2 References

1. [Wekipedia](https://en.wikipedia.org)
2. [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)
3. [w3schools - Python Operators](https://www.w3schools.com/python/python_operators.asp)