In [ ]:
def format_list(string_list):
  return [s.lower() for s in string_list]

In [ ]:
def format_list(string_list):
  if not string_list:
    return []
  else:
    return [string_list[0].lower()] + format_list(string_list[1:])

In [ ]:
class_test = [['John', 51], ['Mary', 49], ['Tim', 80], ['Sam', 70]]

def get_pass_list(class_test):
  return [student[0] for student in class_test if student[1] >= 50]

In [ ]:
def col_sum(m):
    return [sum(col) for col in zip(*m)]

In [ ]:
def row_sum(m):
  return [sum(row) for row in m]

In [ ]:
def transpose(m):
    return [list(col) for col in zip(*m)]